Flask
Werkzeug
Flask-SQLAlchemy
Flask-Login
python-dotenv
Flask-Migrate
python-dotenv
python-slugify
langchain
langchain-community
langchain-openai
openai
requests
Flask-WTF
wikipedia-api
beautifulsoup4